<app-header></app-header>
<body>
    <div id="wrapper">
        <section class="section single-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-title-area text-center">
                                <ol class="breadcrumb hidden-xs-down">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#">Theme</a></li>
                                    <li class="breadcrumb-item active">Title News</li>
                                </ol>
                              <hr>
                                <h3>Title News</h3>

                                <div class="box big-meta">
                                    <small><a href="#" title="">Date/Month/Year</a></small>
                                    <small><a href="#" title="">Author</a></small>
                                    <small><a href="#" title=""><i class="fa fa-eye"></i> view number</a></small>
                                </div> 

                            
                            </div> 

                            <div class="single-post-media">
                                <img src="../../assets/image/img_title.jpg" alt="" class="img-fluid">
                            </div> 

                            <div class="blog-content">  
                                <div class="pp">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate repellat provident eaque facere culpa ipsam ea velit. Culpa eum odio praesentium est, cum ad quam. Ex cum mollitia magnam libero.</p>
                                </div> 
                            </div> 

                            <div class="blog-title-area">
                            

                                <div class="post-sharing">
                                    <ul class="list-inline">
                                        <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span></a></li>
                                        <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span></a></li>
                                        <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#" id="like" class="like-button btn btn-primary"><i class="fa fa-thumbs-up"></i></a></li>
                                        <li><a href="#" id="dislike" class="dislike-button btn btn-primary"><i class="fa fa-thumbs-down"></i></a></li>

                                        
                                    </ul>
                                </div> 
                             
                            </div> 

          

                            <div class="custombox clearfix">
                                <h4 class="small-title">You may also like</h4>
                                <div class="box_img row">
                                    <div class="col-sm-12">
                                        <div class="blog-box">
                                            <div class="post-media" id="media-right">
                                                <a href="#" title="">
                                                    <img src="../../assets/image/img_title.jpg" alt="" class="img-fluid">
                                                   
                                                </a>
                                                <div class="hovereffect">
                                                    <span class="contentnews">Content News</span>
                                                </div> 
                                            </div> 
                                            <div class="box">
                                                <h4><a href="#" title="">Title News</a></h4>
                                                <small><a href="#" title="">Theme</a></small>
                                                <small><a href="#" title="">Date, Month, Year</a></small>
                                            </div> 
                                        </div> 
                                    </div> 

                                    <div class="col-sm-12">
                                        <div class="blog-box">
                                            <div class="post-media" id="media">
                                                <a href="#" title="">
                                                    <img src="../../assets/image/img_title.jpg" alt="" class="img-fluid" id="img">
                                                   
                                                </a>
                                                <div class="hovereffect">
                                                    <span class="contentnews">Content News</span>
                                                </div> 
                                            </div> 
                                            
                                            <div class="box" >
                                                <h4><a href="#" title="">Title News</a></h4>
                                                <small><a href="#" title="">Theme</a></small>
                                                <small><a href="#" title="">Date, Month, Year</a></small>
                                            </div> 

                                        </div> 
                                    </div> 
                                </div> 
                            </div> 

                            <hr class="hr1">

                            <div class="custombox clearfix">
                                <h4 class="small-title">Comment</h4>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="comments-list">
                                            <div class="media">
                                                <a class="media-left" href="#">
                                                    <img src="../../assets/image/img_title.jpg" alt="" class="rounded-circle">
                                                </a>
                                                <div class="media-body">
                                                    <h4 class="media-heading user_name">Username <small>Number days ago</small></h4>
                                                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non maiores porro mollitia adipisci alias dicta numquam quibusdam error repellendus dolor officia, aspernatur, inventore esse nemo? Est voluptatibus et beatae possimus!</p>
                                                    <a href="#" class="btn btn-primary btn-sm">Reply</a>
                                                </div>
                                            </div>
                                            <div class="media">
                                                <a class="media-left" href="#">
                                                    <img src="../../assets/image/img_title.jpg" alt="" class="rounded-circle">
                                                </a>
                                                <div class="media-body">

                                                    <h4 class="media-heading user_name">Username  <small>Number days ago</small></h4>

                                                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam eius et, porro odit voluptatibus ab perferendis magni, iusto possimus saepe veritatis, consectetur magnam dolor nihil ipsa illum ullam? Atque, nisi?</p>

                                                    <a href="#" class="btn btn-primary btn-sm">Reply</a>
                                                </div>
                                            </div>
                                            <div class="media last-child">
                                                <a class="media-left" href="#">
                                                    <img src="../../assets/image/img_title.jpg" alt="" class="rounded-circle">
                                                </a>
                                                <div class="media-body">

                                                    <h4 class="media-heading user_name">Username <small>Number days ago</small></h4>
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quisquam iste eum assumenda quas minus magnam labore dignissimos porro nobis odio, rerum dolorum repudiandae aliquam nostrum facere dolor voluptates quia.</p>

                                                    <a href="#" class="btn btn-primary btn-sm">Reply</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr class="hr1">

                            <div class="custombox clearfix">
                                <h4 class="small-title">Your comment</h4>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form class="form-wrapper">
                                            <input type="text" class="form-control" placeholder="Your name">
                                            <input type="text" class="form-control" placeholder="Email address">
                                            <input type="text" class="form-control" placeholder="Website">
                                            <textarea class="form-control" placeholder="Your comment"></textarea>
                                            <button type="submit" class="btn btn-primary">Submit Comment</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            <div class="content-box">
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        <img src="../../assets/image/img_qc.jpg" alt="" class="img-fluid" id="img-qc">
                                    </div>
                                </div>
                            </div>

                            <div class="content">
                                <h2 class="content-title">Trend Theme</h2>
                                <div class="trend-videos">
                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a href="#" title="">
                                                <img src="../../assets/image/img_title.jpg" alt="" class="img-fluid">
                                               
                                            </a>
                                        </div>
                                        <div class="box">
                                            <h4><a href="#" title="">Title News</a></h4>
                                        </div>
                                    </div>

                                    <hr class="invis">

                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a href="#" title="">
                                                <img src="../../assets/image/img_title.jpg" alt="" class="img-fluid">
                                              
                                            </a>
                                        </div>
                                        <div class="box">
                                            <h4><a href="#" title="">Title News</a></h4>
                                        </div>
                                    </div>
                                    <hr class="invis">

                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a href="#" title="">
                                                <img src="../../assets/image/img_title.jpg" alt="" class="img-fluid">
                                                
                                            </a>
                                        </div>
                                        <div class="box">
                                            <h4><a href="#" title="">Title News</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="content">
                                <h2 class="content-title">Theme Popular</h2>
                                <div class="list-content">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                              <img src="../../assets/image/img_content.jpg" alt="" class="img-fluid float-left">
                                              <div class="box_right">    <h5 class="mb-1">Title News</h5>
                                                <small>Date, Month, Year</small></div>

                                            </div></a>
                                            
                                       
                                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                   
                                            <div class="w-100 justify-content-between">
                                                <img src="../../assets/image/img_content.jpg" alt="" class="img-fluid float-left">
                                             <div class="box_right">   <h5 class="mb-1">Title News</h5>
                                                <small>Date, Month, Year</small></div>
                                            </div></a>
                                       

                                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 last-item justify-content-between">
                                                <img src="../../assets/image/img_content.jpg" alt="" class="img-fluid float-left">
                                              <div class="box_right">    <h5 class="mb-1">Title News</h5>
                                                <small>Date, Month, Year</small></div>

                                            </div></a>
                                       
                                    </div>
                                </div>
                            </div>

                            <div class="content">
                                <h2 class="content-title">Recent Reviews</h2>
                                <div class="list-content">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="../../assets/image/img_content.jpg" alt="" class="img-fluid float-left">
                                              <div>  <h5 class="mb-1">Title News</h5>
                                                <span class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span></div>
                                            </div>
                                        </a>

                                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="../../assets/image/img_content.jpg" alt="" class="img-fluid float-left">
                                                <div>  <h5 class="mb-1">Title News</h5>
                                                <span class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span></div>
                                            </div>
                                        </a>

                                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 last-item justify-content-between">
                                                <img src="../../assets/image/img_content.jpg" alt="" class="img-fluid float-left">
                                              <div>  <h5 class="mb-1">Title News</h5>
                                                <span class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                            </div></div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="content">
                                <h2 class="content-title">Follow Us</h2>

                                <div class="row text-center">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="#" class="social-button facebook-button">
                                            <i class="fa fa-facebook"></i>
                                            <p>55</p>
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="#" class="social-button twitter-button">
                                            <i class="fa fa-twitter"></i>
                                            <p>66</p>
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="#" class="social-button google-button">
                                            <i class="fa fa-google-plus"></i>
                                            <p>88</p>
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="#" class="social-button youtube-button">
                                            <i class="fa fa-youtube"></i>
                                            <p>99</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                      
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div></body>
<app-footer></app-footer>

